{% load staticfiles %}

<!--header start-->
      <header class="header white-bg">
            <div class="row">
 
              <div class="col-xs-2">
                {% if request.get_full_path = splash_page and request.session.token %}
                    <a href="{% url 'eventsList' %}" class="logo">events</a> 
                {% elif request.get_full_path = eventsList %}
                    <a href="{% url 'splash' %}" class="logo">cab<span>tools</span></a>
                {% elif request.session.token %}
                  <a href="{% url 'eventsList' %}" class="logo">cab<span>tools</span></a> 
                {% else %}
                  <!--logo start-->
                  <a href="{% url 'splash' %}" class="logo">cab<span>tools</span></a>
                  <!--logo end-->
                {% endif %}
              </div>
             
             <div class="col-xs-10">   
                <div class="top-nav ">
                    <!--search & user info start-->
                    <ul class="nav pull-right top-menu">
                         {% if request.session.ref %}
                          <li>
                              <a href="{% url 'share' %}" style="color: #fff; background-color: #ff6c60; border-color: #ff6c60;">
                                <div class="hidden-xs">
                                  SHARE AND EARN
                                </div>
                                <div class="hidden-sm hidden-md hidden-lg">
                                  EARN
                                </div>    
                                
                              </a>
                          </li>
                        {% endif %}
                        {% if request.session.token %}
                          <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                          <li><a href="{% url 'login' %}">Log In</a></li>
                        {% endif %}  
                    </ul>
                    <!--search & user info end-->
                </div>
            </div>

          </div>
      </header>
      <!--header end-->