{% load staticfiles %}

<!--header start-->
      <header class="header white-bg">
            
            {% if request.get_full_path = splash_page and request.session.token %}
                <a href="{% url 'eventsList' %}" class="logo">events</a>
            {% elif request.get_full_path = eventsList %}
                <a href="{% url 'splash' %}" class="logo">cab<span>tools</span></a>
            {% elif request.session.token %}
              <a href="{% url 'eventsList' %}" class="logo">cab<span>tools</span></a>
            {% else %}
              <!--logo start-->
              <a href="{% url 'splash' %}" class="logo">cab<span>tools</span></a>
              <!--logo end-->
            {% endif %}

            
                  
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    {% if request.session.token %}
                      <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                      <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                    
                    {% comment %}
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <!--<img alt="" src={% static "flatlab/admin/img/avatar1_small.jpg" %}>-->
                            <span class="username">
                              {% if request.session.username %}
                                {{ request.session.username }}
                              {% else %}
                                Sign In
                              {% endif %}
                            </span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <div class="log-arrow-up"></div>
                            {% if request.session.username %}
                                <li><a href="{% url 'logout' %}"><i class="fa fa-key"></i> Log Out</a></li>
                              {% else %}
                                <li><a href="{% url 'login' %}"><i class="fa fa-key"></i> Log In</a></li>
                                <li><a href="{% url 'signup' %}"><i class="fa fa-key"></i> Sign Up</a></li>
                              {% endif %}

                        </ul>
                    </li>
                    {% endcomment %}
                    
                </ul>
                <!--search & user info end-->
            </div>
      </header>
      <!--header end-->