{% load staticfiles %}
{% url 'splash' as splash_page %} 
{% url 'eventsList' as eventsList %} 


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href={% static "flatlab/admin/img/favicon.png" %}>
    
    <title>CABTOOLS</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "flatlab/admin/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "flatlab/admin/css/bootstrap-reset.css" %} rel="stylesheet">
    <!--external css-->
    <link href={% static "flatlab/admin/assets/font-awesome/css/font-awesome.css" %} rel="stylesheet" />
    <link href={% static "flatlab/admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" %} rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href={% static "flatlab/admin/css/owl.carousel.css" %} type="text/css">
    <link href={% static "flatlab/admin/assets/jquery-ui/jquery-ui-1.10.1.custom.min.css" %} rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href={% static "flatlab/admin/assets/gritter/css/jquery.gritter.css" %} />
      <!--right slidebar-->
      <link href={% static "flatlab/admin/css/slidebars.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href={% static "flatlab/admin/css/style.css" %} rel="stylesheet">
    <link href={% static "flatlab/admin/css/style-responsive.css" %} rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href={% static "add-to-homescreen/addtohomescreen.css" %}>
    <script src={% static "add-to-homescreen/addtohomescreen.min.js" %}></script>
    

    <script>
      addToHomescreen({
         skipFirstVisit: true,
         maxDisplayCount: 1
      });
    </script>
  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src={% static "flatlab/admin/js/html5shiv.js" %}></script>
      <script src={% static "flatlab/admin/js/respond.min.js" %}></script>
    <![endif]-->
    

   <script>
      var m_names = new Array("Jan", "Feb", "Mar", 
        "Apr", "May", "Jun", "Jul", "Aug", "Sep", 
        "Oct", "Nov", "Dec");
      var weekday_names = new Array(7);
      weekday_names[0]=  "Sunday";
      weekday_names[1] = "Monday";
      weekday_names[2] = "Tuesday";
      weekday_names[3] = "Wednesday";
      weekday_names[4] = "Thursday";
      weekday_names[5] = "Friday";
      weekday_names[6] = "Saturday";

      function formatHeaderDate(date) {
        var weekday = date.getDay()
        var cur_date = date.getDate();
        var month = date.getMonth();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime =  weekday_names[weekday] + '  ' + m_names[month] + ', ' + cur_date + '&nbsp;&nbsp;' + hours + ':' + minutes + ' ' + ampm;
        return strTime;
      }
      function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
      }
      function formatStandDate(date) {
        var cur_date = date.getDate();
        var month = date.getMonth();
        var strTime =  m_names[month] + ', ' + cur_date;
        return strTime;
      }
  </script>
  {% block head %}
  {% endblock %}
  
  {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
    {% include "flatlab/includes/ga.html" %}
  {% endif %}

  </head>

  {% block bodytype %}
  <body>
  {% endblock %}


  <section id="container" >
      
      {% include 'flatlab/includes/header.html' %}
      
      {% comment %}
        {% if request.session.token and request.get_full_path != splash_page %}      
          {% include 'flatlab/includes/sidebar.html' %}
        {% endif %}
      {% endcomment %}
      
      {% block body %}
      {% endblock %}

  </section>

  <!--footer start-->
  <footer class="site-footer">
      
      <div class="text-center blue">
          2014 &copy; CabTools
           | <a style="color: white;" href="{% url 'tos' %}">Terms of Service</a>
           | <a style="color: white;" href="{% url 'contact' %}">Contact Us</a>
      
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
      </div>
      
  </footer>
  <!--footer end-->

  <script src={% static "flatlab/admin/js/jquery.js" %}></script>
  <script src={% static "flatlab/admin/js/bootstrap.min.js" %}></script>
 
  {% block jsfoot %}
  {% endblock %}
    
  {% include 'flatlab/includes/templates.html' %}
  
  </body>
</html>
