{% load staticfiles %}
{% url 'splash' as splash_page %} 


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href={% static "flatlab/admin/img/favicon.png" %}>
    
    <title>CAB ATTACK</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "flatlab/admin/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "flatlab/admin/css/bootstrap-reset.css" %} rel="stylesheet">
    <!--external css-->
    <link href={% static "flatlab/admin/assets/font-awesome/css/font-awesome.css" %} rel="stylesheet" />
    <link href={% static "flatlab/admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" %} rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href={% static "flatlab/admin/css/owl.carousel.css" %} type="text/css">
    <link href={% static "flatlab/admin/assets/jquery-ui/jquery-ui-1.10.1.custom.min.css" %} rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href={% static "flatlab/admin/assets/gritter/css/jquery.gritter.css" %} />
      <!--right slidebar-->
      <link href={% static "flatlab/admin/css/slidebars.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href={% static "flatlab/admin/css/style.css" %} rel="stylesheet">
    <link href={% static "flatlab/admin/css/style-responsive.css" %} rel="stylesheet" />



    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  
  {% block head %}
  {% endblock %}
  </head>

  {% block bodytype %}
  <body>
  {% endblock %}


  <section id="container" >
      
      {% include 'flatlab/includes/header.html' %}
      
      {% if request.session.username and request.get_full_path != splash_page %}      
        {% include 'flatlab/includes/sidebar.html' %}
      {% endif %}
      {% block body %}
      {% endblock %}

  </section>

  <!--footer start-->
  <footer class="site-footer">
      
      <div class="text-center blue">
          2014 &copy; Cab Attack
           | <a style="color: white;" href="{% url 'tos' %}">Terms of Service</a>
           | <a style="color: white;" href="{% url 'contact' %}">Contact Us</a>
      
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
      </div>
      
  </footer>
  <!--footer end-->

  <script src={% static "flatlab/admin/js/jquery.js" %}></script>
  <script src={% static "flatlab/admin/js/bootstrap.min.js" %}></script>
  {% block jsfoot %}
  {% endblock %}
    
  {% include 'flatlab/includes/templates.html' %}
  
  </body>
</html>
