{% extends 'flatlab/admin/base.html' %}
{% load staticfiles %}

{% block head %}
<style>
    html,body {
      height:100%;
    }
    #container {
      min-height: 100%;
    }
  </style>
{% endblock %}


{% block body %}
<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              
              <!--tab nav start-->
              <section class="panel">
              	<div class="panel-body">
              		<h2>Thanks for signing up</h2>
              		
              		</br>
        					<p>We've sent you an email to confirm you entered your email address correctly.</p>
        					<p>Follow the link in the email address to use CabTools.</p>
        					<p>Once you do, you'll have full access to CabTools for a month.</p>
        		
              		</br></br>

              		
              		<h2>Get another SIX months free!</h2>
              		
              		</br>
        					<p>Get five people to sign up for an additional six months free!</p>
        					<p>Share this code: {{ promo }}</p>

              		</br></br>
              		<p>Return to main page:</p>
              		<a href="{% url 'splash' %}" class="logo">cab<span>tools</span></a>
              		<a data-toggle="modal" href="#myModal"> Have promo?</a>
              	 
                  <div class="row hidden-md hidden-lg">
                    </br></br></br>
                    <div class="col-xs-10 col-xs-offset-1">
                        <input type="button" class="btn btn-xlarge btn-danger btn-block" value="GET THE APP" onclick="addToHomescreen()"/>
                    </div>
                    </br></br></br>
                </div>


                </div>

              	

              </section>
          </section>
       </section>

{% endblock %}

