{% extends 'flatlab/admin/base.html' %}
{% load staticfiles %}

{% block head %}
<style>
    html,body {
      height:100%;
    }
    #container {
      min-height: 100%;
    }
  </style>
{% endblock %}


{% block body %}
<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              
              <!--tab nav start-->
              <section class="panel">
              	<div class="panel-body text-center">
              		
                  <p>Thanks! We're sending a confirmation email now.</p>
                  
                  <h1>Want CabTools free for six months?</h1>
              		
              		</br>
        					<p>Get five people to sign up with this unique URL:</p>
        					<h3>http://www.cabtools.com/?ref={{ ref }}</h3>
        					<p>FACEBOOK / TWITTER</p>
        		      <p>So far, you have {{ count }} referrals.</p>
              		
                  <div class="row hidden-md hidden-lg">
                    </br></br></br>
                    <div class="col-xs-10 col-xs-offset-1">
                        <input type="button" class="btn btn-xlarge btn-danger btn-block" value="GET THE APP" onclick="addtohome.show()"/>
                    </div>
                    </br></br></br>
                </div>


                </div>

              	

              </section>
          </section>
       </section>

{% endblock %}

