{% extends 'flatlab/admin/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
<style>
    html,body {
      height:100%;
    }
    #container {
      min-height: 100%;
    }
  </style>
{% endblock %}

{% block bodytype %}
 <body class="login-body">
{% endblock %}

{% block body %}

<div class="container">
    
    {% if form %}
        <form class="form-signin" action="" method="post">
            <h2 class="form-signin-heading">sign in now</h2>
            <div class="login-wrap">
                <p> Enter your account details below</p>
                {% csrf_token %}
                
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
                
                {{ form.username.errors }}
                {{ form.username|add_class:"form-control"}}
                   
                <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
             
            <div class="registration">
                New User.
                <a href="{% url 'splash' %}">Signup</a></br>
            </div>
        
            
        </form>
    {% endif %}
</div>
<div class="row">
<br/><br/>
</div>





    


{% endblock %}


