{% extends 'flatlab/admin/base.html' %}
{% load staticfiles %}

{% block head %}
<!-- Bootstrap core CSS -->
    <link href={% static "flatlab/frontend/css/bootstrap.min.css" %} rel="stylesheet"> 
    <link href={% static "flatlab/frontend/css/theme.css" %} rel="stylesheet">
    <link href={% static "flatlab/frontend/css/bootstrap-reset.css" %} rel="stylesheet">
    <!--external css-->
    <link rel="stylesheet" href={% static "flatlab/frontend/css/flexslider.css" %}/>
    <link href={% static "flatlab/frontend/assets/bxslider/jquery.bxslider.css" %} rel="stylesheet" />
    <link href={% static "flatlab/frontend/assets/fancybox/source/jquery.fancybox.css" %} rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link href={% static "flatlab/frontend/css/style.css" %} rel="stylesheet">
    <link href={% static "flatlab/frontend/css/style-responsive.css" %} rel="stylesheet" />
    <style>
    /**
     * Extra large button extensions. Extends `.btn`.
     */
    .btn-xlarge {
        padding: 18px 28px;
        font-size: 22px;
        line-height: normal;
        -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
                border-radius: 8px;
        }
    .big-banner{
     background: #475268;
     color: #FFF;
     padding-top: 45px;
     margin-bottom: 40px;
    }
    </style>

{% endblock %}

  {% block body %}
    
  
    
     <!--breadcrumbs start-->
    
    <div class="big-banner">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-9 col-sm-9">
                    <div class="row">
                        <div class="col-lg-8 col-sm-8">
                        <div class="caption lfr slide_title">
                        <br>
                        Be there when customers need a cab
                        </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-8 col-sm-8">
                        <div class="caption lfr slide_desc">   
                         <br>
                         Slow night helps cab drivers get to their customers faster <br>
                         by showing them when and where people will likely be waiting.
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-sm-8">
                        <br><br>
                        <input value="Get Started, It's Free" type="button" class="btn btn-primary btn-xlarge btn-block"  onClick="javascript:location.href = '{% url 'signup' %}';" />
                        </div>
                        
                    </div>

                </div>

                <div class="col-lg-3 col-sm-3">
                    <br>
                    <img src={% static "site_screenshot.png" %} alt="Image 1">
               
                </div>


                
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->     


    <!--container start-->
    <div class="container">
        
        <div class="row">
            <!--feature start-->
            <div class="text-center feature-head">
                <h1>welcome to Slow Night</h1>
                <p>Get a leg-up when cruising for your next customer</p>
            </div>
            <div class="col-lg-4 col-sm-4">
                <section>
                    <div class="f-box">
                        <i class=" fa fa-search"></i>
                        <h2>Find major events</h2>
                    </div>
                    <p class="f-text">Get a clean easy-to-read list of all major events in your area. Each listing shows the expected size of the event and its location so you won't waste time driving to small events unless they are nearby.</p>
                </section>
            </div>
            <div class="col-lg-4 col-sm-4">
                <section>
                    <div class="f-box">
                        <i class=" fa fa-comments-o"></i>
                        <h2>Interact with other drivers</h2>
                    </div>
                    <p class="f-text">Each event has it's own page so drivers can share inteligence in case an event gets out early and people are already waiting or turned out to be bigger than expected.</p>
                </section>
            </div>
            <div class="col-lg-4 col-sm-4">
                <section>
                    <div class="f-box">
                        <i class="fa fa-list-ul"></i>
                        <h2>Get the scoop</h2>
                    </div>
                    <p class="f-text">Get a highlevel view of all the activity in your area without selecting a particular event so you can quickly decide where most of the action is before you look at individual event listings.</p>
                </section>
            </div>
            <!--feature end-->
        </div>
        <div class="row">
            <!--quote start-->
            <div class="quote">
                <div class="col-lg-12 col-sm-12">
                    <div class="quote-info">
                        <h1>Have suggestions?</h1>
                        <p>Let us know what features you want to see and which new cities we should cover <a style="color: white;" href="{% url 'contact' %}">here</a>.</p>
                    </div>
                </div>
                
            </div>
            <!--quote end-->
        </div>
    </div>



{% endblock %}

{% block jsfoot %}  
    <!-- js placed at the end of the document so the pages load faster -->
    <script src={% static "flatlab/frontend/js/jquery-migrate-1.2.1.min.js" %}></script>
    <script defer src={% static "flatlab/frontend/js/jquery.flexslider.js" %}></script>
    <script type="text/javascript" src={% static "flatlab/frontend/js/hover-dropdown.js" %}></script>
    <script type="text/javascript" src={% static "flatlab/frontend/assets/bxslider/jquery.bxslider.js" %}></script>

    
    <script src={% static "flatlab/frontend/assets/fancybox/source/jquery.fancybox.pack.js" %}></script>
    <script src={% static "flatlab/frontend/js/common-scripts.js" %}></script>
    
    
     <script src={% static "flatlab/frontend/js/jquery.easing.min.js" %}></script>
    <script src={% static "flatlab/frontend/js/link-hover.js" %}></script>


    <!--common script for all pages-->
    <script src={% static "flatlab/frontend/js/common-scripts.js" %}></script>

  
{% endblock %}
