{% extends 'flatlab/admin/base.html' %}
{% load staticfiles %}

{% block head %}
<!-- coming soon styles -->
    <link href={% static "flatlab/admin/css/soon.css"%} rel="stylesheet" >
<style>
    .taxi {
     margin: 0;
     background: url({% static "taxi.jpg"%});
     background-size: 1440px 800px;
     background-repeat:no-repeat;
    display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    .splash {
        background: rgba(0,0,0,.4);
        padding: 3em 1em;
        color: #fff;
    }
    .splash>h2 {
        font-weight: normal;
        margin: 0;
    }
    .pad-top-200{
        padding-top:200px;
    }
</style>
{% endblock %}

{% block bodytype %}
<body class="cs-bg taxi">
{% endblock %}

{% block body %}
    
    <!-- START HEADER -->
    <section id="header">
        <header class="text-center pad-top-200">
                <!-- HEADLINE -->
                <div class="splash">
                    <br/>
                    <a class="logo floatless" href="{% url 'splash' %}">Slow<span>Night</span></a>
                    <br/><br/><br/>
                    <h2 >The best way to find your customers</h2>
                    <br/>
                </div>
                <!--
                <br/>
                <p>No more cruising to find people looking for rides.</p>
                <p>Drivers Wanted provides you a curated list of the local events along with their size, location, and time so you can always be where the action is.</p>
                <p>Users can comment on specific event listings to let other drivers know any relevant information.</p>
                -->
        </header>
    </section>
    <!-- END HEADER -->
{% endblock %}

{% block jsfoot %}
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src={% static "flatlab/admin/js/modernizr.custom.js" %}></script>
<script src={% static "flatlab/admin/js/soon/plugins.js" %}></script>
<script src={% static "flatlab/admin/js/soon/custom.js" %}></script>
{% endblock %}

